@media screen and (max-width: 599px) {
    .Container {
        display: flex;
        flex-direction: column;
        width: 90vw;
        padding: 10px;
        border: 3px solid black;
    }

    .Container div {
        border: 1px solid black;
    }

    span {
        margin-left: auto;
        margin-right: auto;
        margin-top: auto;
        margin-bottom: auto;
    }
}


@media screen and (min-width: 600px) {
    .Container {
        display: flex;
        flex-direction: row;
        width: 95vw;
        height: 50px;
    }

    span {
        margin-top: auto;
        margin-bottom: auto;
        margin-left: 5px;
    }
}


.Container div {
    background-color: rgb(130, 146, 190);
    flex-grow: 1;
    display: flex;
    font-weight: bold;
    height: 50px;
    cursor:pointer;
}


div :hover {
    background-color: rgb(85, 96, 124);
    color: white;
}